body {
  font-family: Arial, sans-serif;
}

.container {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
}

.profile-info p {
  margin-bottom: 10px;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
  background-color: white;
  padding: 20px;
  border-radius: 5px;
}

.bg-project-blue {
  background-color: #3298AB;
}

.text-project-blue {
  color: #3298AB;
}

.border-project-blue {
  border-color: #3298AB;
}

.transition-colors {
  transition: color 0.3s, border-color 0.3s;
}

.btn {
  position: absolute;
  top: 20px;
  right: 20px;
  color: #3298AB;
  cursor: pointer;
}

.profile-info {
  margin-bottom: 20px; /* Espaço entre o componente ProfileInfo e o próximo elemento */
}

.profile-info p {
  margin-bottom: 10px; /* Espaço entre cada parágrafo de informação */
}

.profile-info-divider {
  margin: 15px 0; /* Espaço acima e abaixo das linhas horizontais */
  border: 0;
  border-top: 1px solid #ccc; /* Cor e estilo da linha horizontal */
}

.friends-list {
  margin-top: 20px; /* Espaço acima da lista de amigos */
}

.friend-item {
  margin-bottom: 15px; /* Espaço entre cada item de amigo */
}

.friend-info-divider {
  margin: 10px 0; /* Espaço acima e abaixo das linhas horizontais */
  border: 0;
  border-top: 1px solid #ccc; /* Cor e estilo da linha horizontal */
}
